@using ToolsApp.Core.Interfaces.Models

@inject NavigationManager navigationManager

<ul>
  @foreach(var color in Colors) {
    <li>
      @color.Name
      <button @onclick="@(() => doViewColor(color.Id))">View</button>
      <button @onclick="@(() => doDeleteColor(color.Id))">Delete</button>
    </li>
  }
</ul>

@code {

  [Parameter]
  public IEnumerable<IColor> Colors { get; set; } = new List<IColor>();

  
  [Parameter]
  public EventCallback<int> OnDeleteColor { get; set; }

  public void doViewColor(int colorId)
  {
    navigationManager.NavigateTo("/color-view/" + colorId.ToString());
  }

  public async Task doDeleteColor(int colorId)
  {
    await OnDeleteColor.InvokeAsync(colorId);
  }

}